.header{
    position: sticky;
    z-index: 11;
    overflow: hidden;
    background-image: linear-gradient(90deg, #000428 , #004e92);
    width: 100%;
    top: 0%;
    height: 74px;
    box-shadow:0 20px 20px -12px rgba($color: #000000, $alpha: 0.4);
    .container{
        display: flex;
        justify-content: space-between;
        padding: 5px 5% ;
        .logo-1{
            display: flex;

            button{
                margin-top: 10px;
                background: #f0eeee;
               
                margin-right: 20px;
                height: 45px;
                width: 45px;
                border: 1px #1a0358 solid;
                box-shadow: 5px 26px 38px -10px rgba(0,0,0,.45);
                
                border-radius: 50px;
                background-image: url(../img/download1.jpg);
                background-size: contain;
            }
            h1{
                text-transform: uppercase;
                padding-top: 10px;
                color: #fff;
                text-shadow: 2px 2px 2px #4b0579;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            }
        }
        .icons{
            button{
                margin-top: 10px;
                background-image: linear-gradient(90deg, #06033d , #45146d);
               
                margin-right: 20px;
                height: 45px;
                width: 45px;
                border: 1px #2c3e50 solid;
                box-shadow: 5px 26px 38px -10px rgba(0,0,0,.45);
                
                border-radius: 50px;
               
                
            }
            button:hover{
                background-image:  linear-gradient(90deg, #302a9b , #281438);
                transition-delay: .4s;
                cursor: pointer;

                

            }
            .call::before{
                content: "\F11D";
                color: white;
                margin-left: 0;
                vertical-align: middle;
                margin-right: 3px;
                font: normal normal normal 20px/1 "Material Design Icons";
            }

            .email::before{
                content: "\F1EE";
                color: white;
                margin-left: 0;
                vertical-align: middle;
                margin-right: 3px;
                font: normal normal normal 20px/1 "Material Design Icons";
            }
            .contact::before{
                content: "\Feb8";
                color: white;
                margin-left: 0;
                vertical-align: middle;
                margin-right: 3px;
                font: normal normal normal 20px/1 "Material Design Icons";
            }


        }
    }


}